[submodule "authors/torres"]
	path = authors/torres
	url = https://tivas-g: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@github.com/tivas-g/Torres_Shared_Sequencing_Arbitrage.git
[submodule "authors/fei-wu-cex-dex-arbitrage"]
	path = authors/fei-wu-cex-dex-arbitrage
	url = https://tivas-g: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@github.com/tivas-g/Wu_Comparing_CEX_DEX_Execution.git
[submodule "authors/yuminaga-dex-execution-welfare"]
	path = authors/yuminaga-dex-execution-welfare
	url = https://tivas-g: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@github.com/tivas-g/Yuminaga_Dex_Execution_Welfare.git
[submodule "authors/lotric-simulating-intents"]
	path = authors/lotric-simulating-intents
	url = https://tivas-g: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@github.com/tivas-g/lotric_simulating_intents.git
[submodule "authors/ota-internalization-uniswap"]
	path = authors/ota-internalization-uniswap
	url = https://tivas-g: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@github.com/tivas-g/Ota_Internalization_on_Uniswap.git
