[submodule "authors/torres"]
	path = authors/torres-cross-chain-arbitrage
	url = https://tivas-g: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@github.com/tivas-g/Torres_Shared_Sequencing_Arbitrage.git
[submodule "authors/yuminaga-chen-execution-welfare"]
	path = authors/yuminaga-chen-execution-welfare
	url = https://github.com/tivas-g/Yuminaga_Dex_Execution_Welfare.git
[submodule "authors/ota-internalization-uniswap"]
	path = authors/ota-internalization-uniswap
	url = https://tivas-g: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@github.com/tivas-g/Ota_Internalization_on_Uniswap.git
[submodule "authors/wu-cex-dex-arbitrage"]
	path = authors/wu-cex-dex-arbitrage
	url = https://github.com/tivas-g/Wu_Comparing_CEX_DEX_Execution.git

[submodule "authors/lotric-cow-data"]
	path = authors/lotric-cow-data
	url = git@github.com:halo3mic/tldr-cow-data.git
